body {
	font-size: 0.90rem;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	color:#333;
}

header {
	background-color: #fff;
	border-bottom: 1px solid #dddddd;
    box-shadow: 0 4px 5px -3px #ececec;
}
header .nav-logo {
	padding: 1rem 4rem;
}
header .nav-link {
	padding: .5rem 1.5rem;
	color: #333;
    font-weight: 600;
}

.top-nav {
	top: -110px;
	transition: top 0.3s;
}
.nav-sticky {
	top: 0;
}

.hero-container {
	height: 100%;
	position: relative;
}
.hero-container .scroll-down {
	position: absolute;
	bottom: 2rem;
	right: 0;
	left: 0;
	cursor: pointer;
}

.main-logo {
	margin-bottom: 5rem;
	position: absolute;
	bottom: 10rem;
	right: 0;
	left: 0;
}

.card-black {
	background-color: #141414;
	border-radius: 0;
	border:0;
}

.card-black h4 {
	color: #fff;
	font-size: 0.90rem;
    font-weight: 600;
}
.card-black .lead {
	font-size: 0.80rem;
	margin-bottom: 1rem;
}
.card-black p {
	line-height: normal;
}
.card-black .about-intro {
	min-height: 130px;
	max-height: 130px;
	overflow: hidden;
}
#partenaires .card-black .about-intro {
	min-height: 180px;
	max-height: 180px;
}
.card-profile {
	position: relative;
}
.card-profile .profile-pic {
	border-radius: 50%;
	position: absolute;
	top: -4rem;
	right: 1rem;
	z-index: 1;
	max-width: 90px;
	opacity: 1;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.service-card h3 {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.service-card img {
	margin-bottom: 1rem;
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(173,186,204,.25),0 2px 6px rgba(0,21,64,.14),0 10px 20px rgba(0,21,64,.05);
}

.gallery-card {
	position: relative;
}
.gallery-card img {
	opacity: 0.85;
    -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
	box-shadow: inset 0 4px 7px 1px #000,inset 0 -5px 20px rgba(173,186,204,.25),0 2px 6px rgba(0,21,64,.14),0 10px 20px rgba(0,21,64,.05);
}
.gallery-card:hover img {
	opacity: 1;
}
.gallery-card h3 {
	font-weight: 600;
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-size: 1.2rem;
	margin: 0;
	background-color: rgba(0,0,0,0.5);
    padding: .5rem 1rem;
    -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.gallery-card:hover h3 {
	color: #fff;
}

.video {
	height: 200px;
}

.tarif-heading h3 {
	font-weight: 600;
	font-size: 1.6rem;
}
.tarif-content-list li {
	padding: 1rem;
}

.tarif-events .tarif-heading h3 {
	font-size: 1.2rem;
}

#contact h3 {
	font-size: 1rem;
}
.bg-contact {
	background: url('/assets/images/hero-sr.jpg') #000;
	opacity: 0.8
}

footer h3 {
	font-size: 1.2rem;
	text-transform: uppercase;
}
footer .portfolio {
	border-bottom: 1px solid rgba(255,255,255,0.09);
}
footer .copyright {
	border-top: 1px solid rgba(255,255,255,0.05);
}

/** LAYOUT **/
a, a:hover {
	text-decoration: none;
}
a:hover {
	color: #fcb200;
}
/*h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}*/
p {
	color: #666;
}
section h2 {
	color:#222;
	text-align:center;
	text-transform:uppercase;
}
.color-or, a.color-or:hover {
	color:#fcb200;
}
a.color-or {
	color: #fff;
}
.bg-warning {
	background-color:#fcb200!important;
}
.bg-dark {
	background-color:#141414!important;
}

.grid-striped .col:nth-of-type(odd) {
    background-color: rgba(0,0,0,.5);
}